html {
  font-size: 26.67vw;
  height: 100%;
}

body {
  height: 100%;
  background-color: #edf0f5;
}

header {
  width: 100%;
  height: 0.44rem;
  background: white;
  padding-right: 0.15rem;
  padding-left: 0.15rem;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

header .back {
  display: block;
  float: left;
  width: 0.44rem;
  height: 0.44rem;
  background: url(../img/back.png) no-repeat left center;
  background-size: 38% 38%;
}

header h3 {
  float: left;
  font-size: 0.18rem;
  text-align: center;
  line-height: 0.44rem;
  width: 72.8%;
}

header h3 + p {
  float: right;
  font-size: 0.3rem;
  line-height: 0.26rem;
  letter-spacing: 0.02rem;
  color: #23beae;
}

.subMenu {
  width: 1.32rem;
  height: 1.46rem;
  background-color: #434950;
  border-radius: 0.05rem;
  position: absolute;
  right: 0.05rem;
  top: 0.44rem;
  box-sizing: border-box;
  padding-left: 0.15rem;
  padding-top: 0.05rem;
  display: none;
}

.subMenu a {
  width: 100%;
  height: 0.45rem;
  color: #ccc;
  display: block;
}

.subMenu a i {
  display: block;
  float: left;
  font-size: 0.2rem;
  line-height: 0.45rem;
}

.subMenu a p {
  float: left;
  font-size: 0.18rem;
  line-height: 0.45rem;
  text-indent: 0.08rem;
}

.subMenu::before {
  position: absolute;
  right: 0.1rem;
  top: -0.09rem;
  content: "";
  border-style: solid;
  border-color: #434950 transparent;
  border-width: 0 9px 9px;
}

.banner {
  background-color: #00c8b3;
  width: 100%;
  height: 1rem;
  display: block;
  padding-right: 0.15rem;
  box-sizing: border-box;
}

.banner img:first-child {
  display: block;
  float: left;
  width: 0.6rem;
  height: 0.6rem;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
}

.banner p {
  color: white;
  font-size: 0.18rem;
  line-height: 1rem;
  float: left;
  text-indent: 0.1rem;
}

.banner img:nth-of-type(2) {
  display: block;
  float: left;
  width: 1rem;
  height: 0.54rem;
  padding-left: 16%;
  padding-top: 0.3rem;
}

.myorder, .giftInfo, .userInfo {
  width: 100%;
  margin-bottom: 0.1rem;
}

.myorder .menu_icon, .giftInfo .menu_icon, .userInfo .menu_icon {
  color: #00c8b3;
}

.giftInfo .menu_icon {
  font-size: 0.3rem;
  color: #cbd6e7;
}

.giftInfo .menu:last-child {
  border-bottom: none;
}

.userInfo .menu_icon {
  font-size: 0.3rem;
  color: #cbd6e7;
}

.userInfo .menu:last-child {
  border-bottom: none;
}

.menu {
  display: block;
  width: 100%;
  height: 0.43rem;
  box-sizing: border-box;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
  background-color: white;
  color: #333;
  font-size: 0.14rem;
  border-bottom: 1px solid #f2f2f2;
}

.menu p {
  font-size: 0.14rem;
  line-height: 0.43rem;
  text-indent: 0.15rem;
  width: 30%;
  float: left;
}

.menu span {
  display: block;
  line-height: 0.43rem;
  float: right;
  font-size: 0.1rem;
  color: #999;
  margin-right: 0.18rem;
}

.menu .arrow_right {
  color: #bbb;
  line-height: 0.43rem;
}

.menu_icon {
  float: left;
  display: block;
  line-height: 0.43rem;
  font-size: 0.24rem;
}

.arrow_right {
  display: block;
  line-height: 1rem;
  font-size: 0.24rem;
  float: right;
  color: rgba(255, 255, 255, 0.8);
}

footer {
  overflow: hidden;
  padding-top: 0.32rem;
  display: flex;
  justify-content: center;
}

footer a {
  color: #999;
  font-size: 0.12rem;
  border-right: 1px solid #ccc;
  padding-left: 0.08rem;
  padding-right: 0.08rem;
}

footer a:last-child {
  border-right: none;
}

.copy {
  width: 100%;
  text-align: center;
  padding-top: 0.23rem;
  color: #999;
  font-size: 0.1rem;
  padding-top: 0.14rem;
}
