@charset "UTF-8";
html {
  font-size: 26.67vw;
  height: 100%;
}

body {
  height: 100%;
  background-color: #edf0f5;
  position: relative;
}

header {
  width: 100%;
  height: 0.44rem;
  background: white;
  padding-right: 0.15rem;
  padding-left: 0.15rem;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

header .back {
  display: block;
  float: left;
  width: 0.44rem;
  height: 0.44rem;
  background: url(../img/back.png) no-repeat left center;
  background-size: 38% 38%;
}

header h3 {
  float: left;
  font-size: 0.18rem;
  text-align: center;
  line-height: 0.44rem;
  width: 72.8%;
}

header h3 + p {
  float: right;
  font-size: 0.3rem;
  line-height: 0.26rem;
  letter-spacing: 0.02rem;
  color: #23beae;
}

.subMenu {
  width: 1.32rem;
  height: 1.46rem;
  background-color: #434950;
  border-radius: 0.05rem;
  position: absolute;
  right: 0.05rem;
  top: 0.44rem;
  box-sizing: border-box;
  padding-left: 0.15rem;
  padding-top: 0.05rem;
  display: none;
  z-index: 999;
}

.subMenu a {
  width: 100%;
  height: 0.45rem;
  color: #ccc;
  display: block;
}

.subMenu a i {
  display: block;
  float: left;
  font-size: 0.2rem;
  line-height: 0.45rem;
}

.subMenu a p {
  float: left;
  font-size: 0.18rem;
  line-height: 0.45rem;
  text-indent: 0.08rem;
}

.subMenu::before {
  position: absolute;
  right: 0.1rem;
  top: -0.09rem;
  content: "";
  border-style: solid;
  border-color: #434950 transparent;
  border-width: 0 9px 9px;
}

/*轮播图*/
.gellay {
  width: 100%;
  height: 1.88rem;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 1.88rem;
  overflow: hidden;
}

.swiper-container .swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
}

/*商品标题区*/
.product_tit {
  width: 97.334%;
  height: 0.92rem;
  background-color: white;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 0.05rem;
  padding-right: 0.06rem;
  padding-left: 0.06rem;
  border-radius: 0.1rem;
  position: relative;
  top: -0.16rem;
  border-bottom: 1px solid #c3c4c7;
  border-right: 1px solid #c3c4c7;
  z-index: 100;
}

.product_tit h3 {
  font-size: 0.14rem;
  color: #333;
  line-height: 0.23rem;
  font-weight: 100;
}

.product_moreImg {
  width: 100%;
  height: 0.6rem;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 1.72rem;
  z-index: 99;
}

.product_moreImg span {
  font-size: 0.1rem;
  color: white;
  line-height: 0.16rem;
}

.product_moreImg span:first-of-type {
  margin-left: 0.14rem;
}

.product_moreImg span:nth-of-type(2) {
  margin-left: 2.04rem;
}

.product_moreImg span:last-of-type {
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 0.22rem;
}

.product_price {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 0.08rem;
  padding-right: 0.21rem;
  padding-left: 0.21rem;
}

.product_price p {
  width: 0.32rem;
  height: 0.13rem;
  border: #7dcffa 1px solid;
  color: #7dcffa;
  line-height: 0.13rem;
  text-align: center;
  font-size: 0.1rem;
  margin-top: 0.04rem;
  float: left;
}

.product_price div {
  float: right;
  color: #ff5346;
  display: flex;
  align-items: flex-end;
}

.product_price div span:first-of-type {
  font-size: 0.12rem;
}

.product_price div span:nth-of-type(2) {
  font-size: 0.2rem;
  margin-right: 0.06rem;
  margin-left: 0.05rem;
  font-weight: 600;
}

.product_price div span:last-of-type {
  font-size: 0.12rem;
  color: #999;
}

/*秒杀*/
.product_miaosha {
  margin-top: -0.06rem;
  width: 100%;
  height: 1.18rem;
  background-color: white;
  margin-bottom: 0.1rem;
}

.ms_time {
  width: 100%;
  height: 0.44rem;
  border-bottom: 1px solid #eee;
}

.ms_time em {
  display: block;
  float: left;
  width: 0.42rem;
  height: 0.44rem;
  background: url(../img/clock.png) no-repeat center center;
  background-size: 40% 40%;
}

.ms_time span {
  display: block;
  float: left;
  line-height: 0.44rem;
  margin-right: 40%;
  font-size: 0.16rem;
  color: #ff5345;
  font-weight: 600;
}

.ms_time p {
  float: left;
  line-height: 0.44rem;
  font-size: 0.12rem;
  color: #333;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
}

.ms_time p i {
  display: block;
  width: 0.17rem;
  height: 0.16rem;
  background-color: #333;
  color: #fff;
  line-height: 0.16rem;
  font-size: 0.1rem;
  font-style: normal;
  margin-top: 0.14rem;
  margin-left: 0.04rem;
}

.order_hotel {
  width: 100%;
  height: 0.73rem;
}

.order_hotel_left {
  float: left;
  height: 100%;
  box-sizing: border-box;
  padding-top: 0.14rem;
  padding-left: 0.34rem;
  background: url(../img/build.png) no-repeat;
  background-size: .16rem .13rem;
  background-position: .12rem .15rem;
}

.order_hotel_left p {
  color: #333;
  font-size: 0.12rem;
}

.order_hotel_left p span {
  font-size: 0.14rem;
  font-weight: 600;
}

.order_hotel_left p:first-of-type {
  padding-top: 0.02rem;
}

.order_hotel_left p:last-of-type {
  padding-top: 0.05rem;
}

.order_hotel_right {
  float: right;
  height: 100%;
  box-sizing: border-box;
  padding-top: 0.08rem;
  padding-right: 0.2rem;
}

.order_hotel_right p:first-of-type {
  color: #999;
  font-size: 0.1rem;
}

.order_hotel_right p:first-of-type span {
  color: #ff5345;
}

.order_hotel_right p:first-of-type em {
  font-size: 0.18rem;
  color: #ff5345;
  font-style: normal;
  margin: 0 .03rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.order_hotel_right p:last-of-type {
  width: 0.7rem;
  height: 0.3rem;
  border-radius: 0.04rem;
  font-size: 0.1rem;
  color: white;
  background-color: #ff5346;
  line-height: 0.3rem;
  text-align: center;
}

/*精选酒店*/
.hotel_taocan {
  width: 100%;
  height: 1.09rem;
  box-sizing: border-box;
  padding-left: 0.15rem;
  background-color: white;
  margin-bottom: 0.1rem;
}

.hotel_taocan h3 {
  width: 100%;
  height: 0.44rem;
  border-bottom: 1px solid #eee;
  background: url(../img/jingxuan.png) no-repeat left center;
  background-size: .18rem .18rem;
  font-size: 0.16rem;
  text-indent: 0.29rem;
  color: #333;
  line-height: 0.44rem;
}

.other_day {
  width: 100%;
  height: 0.64rem;
  box-sizing: border-box;
  padding-top: 0.1rem;
}

.other_day li {
  float: left;
  border: 1px solid #e4e4e4;
  width: 0.68rem;
  height: 0.42rem;
  text-align: center;
  box-sizing: border-box;
  padding-top: 0.05rem;
  margin-right: 0.05rem;
}

.other_day li p:first-of-type {
  font-size: 0.12rem;
  color: #333;
}

.other_day li p:last-of-type {
  font-size: 0.1rem;
  color: #ff5345;
  float: left;
}

.other_day li span {
  font-size: 0.1rem;
  color: #999;
  float: left;
  padding-left: 0.02rem;
}

.other_day li:last-of-type {
  margin-right: 0;
}

.other_day div {
  width: 0.64rem;
  height: 0.58rem;
  border-left: .02rem solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  margin-top: -0.11rem;
  float: left;
  box-sizing: border-box;
  padding-top: 0.14rem;
  padding-left: 0.1rem;
}

.other_day div p {
  text-align: center;
  font-size: 0.14rem;
  color: #999;
  width: 0.28rem;
  height: 0.32rem;
  float: left;
  margin-right: 0.04rem;
}

.other_day div i {
  float: left;
  display: block;
  width: 0.18rem;
  height: 0.38rem;
  padding-top: 0.06rem;
  color: #999;
  font-size: 0.18rem;
}

.tour_taocan {
  width: 97.334%;
  height: auto;
  background-color: white;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 0.1rem;
  position: relative;
  border: 1px solid #d8dbdf;
  overflow: hidden;
  margin-bottom: 0.1rem;
}

.tour_taocan_left {
  color: #333;
  float: left;
  box-sizing: border-box;
  padding-top: 0.3rem;
  padding-bottom: 0.1rem;
  padding-left: 0.14rem;
  width: 2.34rem;
  height: auto;
  margin-right: 0.06rem;
}

.tour_taocan_left h3 {
  width: 0.38rem;
  height: 0.21rem;
  background: url(../img/tour_taocan_tip.png) no-repeat left center;
  background-size: cover;
  font-size: 0.12rem;
  text-align: center;
  line-height: 0.21rem;
  color: white;
  position: absolute;
  left: 0.15rem;
  top: -0.03rem;
}

.tour_taocan_left p:first-of-type {
  font-size: 0.12rem;
}

.tour_taocan_left p:first-of-type span {
  font-size: 0.14rem;
  font-weight: 600;
}

.tour_taocan_left p:nth-of-type(2) {
  font-size: 0.1rem;
  margin-bottom: 0.08rem;
  margin-top: 0.08rem;
}

.tour_taocan_left p:nth-of-type(3) {
  font-size: 0.1rem;
  margin-bottom: 0.04rem;
}

.tour_taocan_left p:nth-of-type(3) span {
  font-size: 0.12rem;
  font-weight: 600;
}

.tour_taocan_left p:last-of-type {
  line-height: 18px;
  font-size: 0.12rem;
}

.tour_taocan_right {
  width: 1.22rem;
  float: left;
  box-sizing: border-box;
  padding-top: 0.6rem;
}

.tour_taocan_right p {
  font-size: 0.1rem;
  color: #333;
  margin-bottom: 0.06rem;
}

.tour_taocan_right p em {
  color: #ff5345;
  margin-right: 0.04rem;
  font-style: normal;
  font-size: 0.2rem;
  font-weight: 600;
}

.tour_taocan_right p span {
  color: #ff5345;
}

.tour_taocan_right b {
  width: 0.7rem;
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  font-size: 0.12rem;
  display: block;
  background-color: #ff5345;
  border-radius: 0.06rem;
}

.tour_dingzhi {
  width: 100%;
  height: 0.7rem;
  background-color: white;
  box-sizing: border-box;
  padding-left: 0.14rem;
  padding-right: 0.14rem;
  background-image: url(../img/gxh.png);
  background-repeat: no-repeat;
  background-size: 2.33rem .13rem;
  background-position: .43rem .41rem;
  margin-bottom: 0.1rem;
}

.tour_dingzhi h3 {
  font-size: 0.16rem;
  float: left;
  background: url(../img/star1.png) no-repeat left center;
  background-size: 0.18rem;
  text-indent: 0.24rem;
  margin-top: 0.14rem;
}

.tour_dingzhi p {
  float: right;
  font-size: 0.14rem;
  border-radius: 0.12rem;
  background-color: #2ed7b7;
  color: white;
  width: 0.7rem;
  height: 0.32rem;
  text-align: center;
  line-height: 0.32rem;
  margin-top: 0.2rem;
}

.tour_detail {
  width: 100%;
  background-color: white;
}

.title {
  width: 100%;
  height: 0.39rem;
  border: 1px solid #eee;
  position: relative;
}

.title a {
  display: block;
  height: 0.37rem;
  line-height: 0.37rem;
  text-align: center;
  float: left;
  color: #666;
  font-size: 0.14rem;
  padding: 0 .03rem;
  margin: 0 3.9%;
}

.title_fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.title_fixed p:first-of-type {
  border-bottom: .02rem solid #2ed4b6;
}

.title .title_choosed {
  border-bottom: .02rem solid #2ed4b6;
}

.product_con {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding-top: 0.2rem;
  padding-left: 0.15rem;
}

.product_con li {
  width: 100%;
  font-size: 0.12rem;
}

.product_con li p {
  line-height: 0.2rem;
}
