@charset "utf-8";

@function pxTorem($px){
    @return ( $px / 100 ) * 1rem; 
}
$border: 1px solid #eee;
html{
    font-size: 26.67vw;
    height: 100%;
}
body{
    height: 100%;
    background-color: white;
}
header{
    width: 100%;
    height:  pxTorem(49);
    border-bottom: $border;
    position: relative;
    p{
        position: absolute;
        height:  pxTorem(48);
        line-height:  pxTorem(46);
        font-size:pxTorem(16);
        color : #666;
        text-align: center;
        padding-left: pxTorem(25);
        padding-right: pxTorem(25);

    }
    p:first-child{
        left:12%;
    }
    p:last-child{
        left:51.87%;
    }

}
.header_border{
    border-bottom: 0.02rem solid #23beae;
    color : #23beae;
}
section{
    width: 100%;
    box-sizing: border-box;
    padding-left: pxTorem(30);
    padding-right: pxTorem(30);
    padding-top: pxTorem(8);
    position: relative;
    input{
        border: none;
        border-bottom: $border;
        width: 100%;
        height:  pxTorem(60);
        box-sizing: border-box;
        padding-left: pxTorem(79);
        display: block;
    }
    ::-webkit-input-placeholder{
         color: #ccc;
         font-size: pxTorem(16);
         line-height: pxTorem(60);

    }
    p{
        width: pxTorem(42);
        font-size: pxTorem(16);
        color: #333;
        line-height: pxTorem(60);
        position: absolute;
        text-align: left;
    }
    p:first-of-type{
        background: url(../img/angle1.png) no-repeat right center;
        background-size:  pxTorem(8)  pxTorem(5) ;
        left:  pxTorem(31);
        top: pxTorem(8);
    }
    p:last-of-type{
        width: pxTorem(50);
        left:  pxTorem(31);
        top: pxTorem(68);
    }
    a{
        position: absolute;
        line-height: pxTorem(60);
        color: #0185c6;
        font-size: pxTorem(14);
        right: pxTorem(30);
        top:pxTorem(68);

    }
    button{
        height:pxTorem(45);
        width: 100%;
        border-radius:  pxTorem(4);
        background-color: #ff5346;
        margin-top:  pxTorem(23);
        display: block;
        border:none;
        text-align: center;
        color: white;
    }
    span{
        height:pxTorem(60);
        padding: 0 .3rem;
        display: block;
        position: absolute;
        right: pxTorem(30);
        top:pxTorem(68);
        background-image:url(../img/password.png) ;
        background-repeat: no-repeat ;
        background-position: center center;
        background-size:40% 40%;
    }

}
.reg{
    width: 100%;
    padding-left:pxTorem(30); 
    padding-right:pxTorem(30); 
    padding-top:pxTorem(16); 
    box-sizing: border-box;
    overflow: hidden;
    // margin-bottom: 49.1%
   a{
        color: #999;
        font-size: pxTorem(12);
    }
    a:first-of-type{
        float: left;
    }
    a:last-of-type{
        float: right;
    }
}
.forget{
    display: none;
}
footer{
    margin-top:87.2%;
    overflow: hidden;
    display: flex;
    justify-content: center;    
    a{
        display: block;
        float: left;
        padding: 0 .1rem;
        color: #999;
        font-size: pxTorem(12); 
        border-right: 1px solid #ccc;
    }
    a:last-child{
        border-right: none;

    }
}
.copy{
    width: 100%;
    text-align: center;
    color: #999;
    font-size: pxTorem(12);
    padding-top: pxTorem(12);
}